name: Production
on:
  push:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/master'
    steps:
      - uses: actions/checkout@master
      - name: Publish Production to Registry
        uses: elgohr/Publish-Docker-Github-Action@master
        with:
          name: ravielze/otopal/otopal-api
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          registry: docker.pkg.github.com
          tags: "latest"
  deploy:
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - name: Run deployment script over SSH
        uses: appleboy/ssh-action@v0.1.3
        with:
          host: ${{ secrets.HOST }}
          port: 22
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          script: "docker-compose pull && docker-compose build && docker-compose up -d --remove-orphans"